.header {
  padding-bottom: 10px;
}

.block {
  padding-bottom: 10px;
}

.btn-dark {
  background-color: darkcyan;
  color: azure;
  padding: 5px;
  margin-bottom: 5px;
  min-width: 60px;
  border-radius: 5px;
}

.btn-light {
  background-color: white;
  color: darkcyan;
  padding: 5px;
  margin-bottom: 5px;
  min-width: 90px;
  border-radius: 5px;
  border: 1px solid darkcyan;
}

